main {
  padding: 0;
}

input{
  outline: none;
}

textarea{
  resize: none;
  outline: none;
}

button {
  cursor: pointer;
  outline: none;
}

.main-container {
  display: flex;
  align-content: stretch;
  width: 100%;
  height: 100%;
}

.main-container label {
  display: flex;
  flex-direction: column;
}

.first-part {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  padding: 20px;
  background-color: lightgrey;
  font-size: large;
}

.first-part button[type="submit"]{
  background-color: rgb(33, 37, 41);
  color: white;
  border: none;
  padding: 5px;
  font-size: large;
}

.first-part button[type="submit"]:hover {
  background-color: rgb(52, 58, 64);
}

.first-part label {
  margin-bottom: 10px;
}

.second-part {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  flex-grow: 1;
  padding: 25px;
}

@media screen and (max-width: 800px) {
  .main-container {
    flex-direction: column;
  }

  .first-part {
    flex-basis: 1px;
  }

  .first-part input, select {
    font-size: x-large;
  }

  .first-part button[type="submit"] {
    font-size: x-large;
  }
}