body {
  min-height: 100vh;
  min-width: 100vw;
  font-family: Helvetica, Arial, sans-serif;
  margin: auto;
  display: grid;
  grid-template-areas: "nav main";
  grid-template-columns: minmax(125px, 175px) auto;
}

header {
  background-color: rgb(33, 37, 41);
}

nav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(216, 212, 212);
  display: block;
}

nav a:hover {
  background-color: rgb(52, 58, 64);
  margin-left:-4px;
  transition-duration: 0.2s;
}

nav img {
  margin-top: 20px;
  width: 75%;
  height: auto;
  padding-left: 20px;
}

#active {
  color: #fff;
  text-indent: 22px;
  border-left: 3px solid #fff;
  background: rgb(52, 58, 64);
}

main {
  padding-top: 25px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgb(233, 236, 239);
}

@media screen and (max-width: 800px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: auto;
  }

  nav img {
    margin: 0;
    height: 35px;
    width: auto;
    padding: 0;
  }

  nav a {
    font-size: 20px;
  }

  main {
    flex: 1 1 auto;
  }

  #active {
    color: #fff;
    text-indent: 0px;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    background: rgb(52, 58, 64);
  }

  body {
    display: flex;
    flex-direction: column;
  }
}
