main {
    padding: 0 0 0 0;
    display: grid;
    flex-direction: column;
    grid-template-columns: minmax(300px, 25%) 75%;
    grid-template-areas: "ms es";
  }
  
  #meta-show {
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px; 
    background-color: rgb(173, 181, 189);
  }
  
  #element-show {
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px; 
  }

  button {
    margin:5px;
    color: white;  
    height: 40px;
    font-size: 18px;
    border: 3px solid white;
    background: rgb(106, 106, 255);
    cursor: pointer;
  }
  
  button a{
    color:white;
    text-decoration: none;
  }
  
  button:hover {
    transition: 0.2s;
    transform:scale(110%) translate(5px, 5px);
  }

  #element-show img{
    max-height: 50vh;
    width:auto;
  }
  

  fieldset {
    background-color: rgb(220, 220, 220);
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 350px;
    border: 2px solid white;
    display: flex;
    flex-flow: column;
    border-radius: 4px;
  }

  ul {
    margin-left:5px;
    padding-left:5px;
  }

  
  @media screen and (max-width: 1000px) {
    .scrollmenu {
      grid-template-columns: repeat(4, 25%);
    }
  }
  
  @media screen and (max-width: 800px) {
    main {
      display: flex;
      flex-flow: column;
    }
  
  }
  
