main {
  padding: 10px 30px;
}

p {
  margin-top: 5px;
}

textarea {
  resize: none;
  outline: none;
}

button[type="submit"] {
  border: none;
  font-size: large;
  background-color: rgb(255, 66, 66);
  color: white;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: lightcoral;
}

#header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(33, 37, 41);
  color: white;
}

#footer {
  display: flex;
  justify-content: space-between;
}

.aufgabe {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 800px) {
  button[type="submit"] {
    font-size: x-large;
  }
}
