
#aufgaben {
  flex-basis: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-top: 20px;
}

#add-aufgabe {
  align-self: flex-start;
  background-color: lightgrey;
  border: none;
  font-size: large;
  padding: 10px;
  margin-top: 5px;
}

#add-aufgabe:hover {
  background-color: grey;
}

.aufgabe {
  font-size: large;
  background-color: lightgray;
  margin-bottom: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.textareaLabel {
  display: flex;
  flex-direction: column;
}

textarea {
  resize: none;
  margin-bottom: 10px;
}

.aufgabe button {
  border: none;
  font-size: large;
  background-color: rgb(255, 66, 66);
  color: white;
}

.aufgabe button:hover {
  background-color: lightcoral;
}

.radioCheckArea {
  display: flex;
  flex-direction: column;
}

.radioCheckArea input {
  margin-bottom: 5px;
}

.aufgabenSettings {
  display: flex;
  justify-content: space-between;
}

.hide {
  display: none;
}

@media screen and (max-width: 800px) {
  textarea {
    font-size: large;
  }
}
