main {
  display: block;
}

fieldset {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 350px;
  border: 2px solid white;
  display: flex;
  flex-flow: column;
  background-color: rgb(173, 181, 189);
  border-radius: 4px;
  box-shadow: 10px 10px 5px #aaaaaa;
}

legend{
    font-size: 90%;
    border: black solid 1px;
    background-color: rgb(107, 105, 219);
    color: #fff;
    border-radius: 4px;
    box-shadow: 4px 4px 4px gray;
}

input{
    margin:5px;
}