main {
  padding: 0 0 0 0;
  display: grid;
  grid-template-columns: minmax(245px, 20%) minmax(calc(80% - 245px),80%);
  grid-template-areas: "fs ms";
}

#main-show {
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  grid-area: ms;
}

#searchbutton {
  margin:5px;
  color: white;
  padding-left: 35px;
  height: 40px;
  font-size: 18px;
  border: 3px solid white;
  background: url("../img/search.png") no-repeat rgb(106, 106, 255);
  cursor: pointer;
}

#searchbutton:hover {
  transition: 0.2s;
  transform:scale(110%) translate(5px, 5px);
}

#resetbutton {
  margin:5px;
  color: white; 
  height: 40px;
  font-size: 18px;
  border: 3px solid white;
  background: rgb(106, 106, 255);
  cursor: pointer;
}

#resetbutton a{
  color:white;
  text-decoration: none;
}

#resetbutton:hover {
  transition: 0.2s;
  transform:scale(110%) translate(5px, 5px);
}



#gobutton {
  margin:5px;
  margin-top: 10px;
  color: white;
  padding-left: 35px;
  height: 40px;
  font-size: 18px;
  border: 3px solid white;
  background: url("../img/drop.png") no-repeat rgb(106, 106, 255);
  cursor: pointer;
}

#gobutton:hover{
  transition: 0.2s;
  transform:scale(110%) translate(5px, 5px);
}


.scrollmenu {
  border-top:1px solid white;
  border-left:1px solid white;
  border-right: 1px solid white;
  background-color: rgb(233, 236, 239);
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: minmax(50px, 75px);
  overflow: scroll;
  overflow-y: hidden;
  word-wrap: break-word;
  scrollbar-color: black white;
  box-shadow: 10px 10px 5px #aaaaaa;
}

.scrollmenu a {
  background-color: rgb(106, 106, 255);
  display: flex;
  color: white;
  text-decoration: none;
  overflow: hidden;
}

.scrollmenu a:nth-child(even) {
  background-color: #fff;
  color:black;
}

.scrollmenu a:nth-child(even):hover {
  background-color: rgb(216, 216, 216);
  transition: 0.2s;
}


.scrollmenu img {
  max-height: 50px;
  width: auto;
}

.scrollmenu a:hover {
  background-color: rgb(53, 53, 255);
  transition: 0.2s;
}

fieldset {
  margin:5px;
  border: 2px solid white;
  display: flex;
  flex-flow: column;
  background-color: rgb(173, 181, 189);
}


#f2{
  background-color: rgb(221, 220, 220);
}


#filter-show {
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  grid-area: fs;
  background-color: rgb(173, 181, 189);
}

legend{
  font-size: 90%;
  border: black solid 1px;
  background-color: rgb(107, 105, 219);
  color: #fff;
  border-radius: 4px;
  box-shadow: 4px 4px 4px gray;
}


#sucheText {
  height: 35px;
}



@media screen and (max-width: 1000px) {
  .scrollmenu {
    grid-template-columns: repeat(4, 25%);
  }
}

@media screen and (max-width: 800px) {
  main {
    display: flex;
    flex-flow: column;
  }

  .scrollmenu {
    display: grid;
    grid-template-rows: minmax(50px, 75px);
    padding: 0 20px;
    overflow: scroll;
  }

  #filter-show {
    padding-top: 0;
    padding-bottom: 8px;
  }
}

@media screen and (max-width: 520px) {
  .scrollmenu {
    grid-template-columns: repeat(3, 33%);
  }
}

@media screen and (max-width: 350px) {
  .scrollmenu {
    grid-template-columns: repeat(2, 50%);
  }
}
