table {
  font-size: large;
  margin: auto;
  border-spacing: 0px 5px;
  width: 100%;
}

th {
  height: 35px;
  background-color: rgb(33, 37, 41);
  color: white;
}

td {
  height: 25px;
  margin-bottom: 50px;
}

tr {
  background-color: rgb(187, 187, 187);
}

tr:hover {
  background-color: rgb(228, 228, 228);
}

table a {
  display: block;
}

table a:link {
  color: black;
  text-decoration: none;
}

table a:visited {
  color: black;
}

#noContent {
  font-size: larger;
  font-weight: bold;
  text-align: center;
  margin-top: 120px;
}

@media screen and (max-width: 1060px) {
  th:last-child, td:last-child {
    display: none;
  }
} 

@media screen and (max-width: 880px) {
  th:nth-child(2), td:nth-child(2)  {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  th:nth-child(2), td:nth-child(2)  {
    display: table-cell;
  }
}

@media screen and (max-width: 520px) {
  th:nth-child(2), td:nth-child(2) {
    display: none;
  }
} 