body {
  background-color: white;
  color: black;
}

fieldset {
  border-color: 2px solid rgb(27, 27, 27);
  background-color: rgb(165, 165, 165);
}

nav a {
  color: #f2f2f2;
}

nav a:hover {
  background-color: black;
  color: #ddd;
}