body {
  margin: auto;
  max-width: 80%;
  background-color: #333;
  color: white;
}

fieldset {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid white;
  display: flex;
  flex-flow: column;
  background-color: #555;
  border-radius: 4px;
}

legend {
  color: black;
  font-size: 130%;
  border: black solid 1px;
  background-color: rgb(212, 212, 212);
  border-radius: 4px;
  padding:4px;
}

nav {
  margin-top: 10px;
  overflow: hidden;
  background-color: #555;
}

nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #777;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #888;
  color: white;
}

p a {
  color:#DDD;
}

p a:hover{
  color:blue;
}

code {
  font-size: 125%;
  background-color:#EEE;
  color:black;
}