<!DOCTYPE html>
<html lang="de">
  <head>
    <title>404</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./css/base.css" />
  </head>   
  <body>
    <header>
      <%- include("includes/navbar") %>
    </header>
    <main>     
        <h1>Error 404:</h1>
        <h2>Seite nicht gefunden.</h2>
    </main>
  </body>
</html>
