<!DOCTYPE html>
<html lang="de">

<head>
  <title>Aufgaben</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="/css/base.css" />
  <link rel="stylesheet" type="text/css" href="/css/baseBoris.css" />
  <link rel="stylesheet" type="text/css" href="/css/listBoris.css" />
</head>

<body>
  <header>
    <%- include("includes/navbar") %>
  </header>
  <main class="main-container">
    <form class="first-part">
      <label>
        Suche:
        <input type="text" name="t">
      </label>
      <label>
        Autor:
        <input type="text" name="a">
      </label>
      <label>
        Modul:
        <select name="m">
          <option value="none">Keine</option>
          <%- include("includes/modulOptions") %>
        </select>
      </label>
      <button type="submit">Filtern</button>
    </form>

  <section class="second-part">
    <div>
    <% if (result.length) { %>
    <table>
      <thead>
        <tr>
          <th>Titel</th>
          <th>Modul</th>
          <th>Autor</th>
        </tr>
      </thead>
      <tbody>
    <% for(i of result) { %>
        <tr>
          <td>
            <a href="<%= i.id %>">
              <%= i.arbeitsblatt.titel %>
            </a>
          </td>
          <td>
            <a href="<%= i.id %>">
              <%= i.arbeitsblatt.modul.name %>
            </a>
          </td>
          <td>
            <a href="<%= i.id %>">
              <% if (i.arbeitsblatt.autor == undefined || i.arbeitsblatt.autor === "" ) { %>
                -
              <% } else { %>
                <%= i.arbeitsblatt.autor %>
              <% } %>
            </a>
          </td>
        </tr>
      <% } %>
        </tbody>
        </table>
        <% } else { %>
          <section id="noContent">
            Leider konnten keine Einträge gefunden werden (* ￣︿￣)
          </section>
        <% } %>
    </div>
    </section>

  </main>
</body>

</html>