<!DOCTYPE html>
<html lang="de">

<head>
  <title>Aufgaben</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="/css/base.css" />
  <link rel="stylesheet" type="text/css" href="/css/baseBoris.css" />
  <link rel="stylesheet" type="text/css" href="/css/formularBoris.css">
</head>

<body>
  <header>
    <%- include("includes/navbar") %>
  </header>
  <main>
    <form action="/aufgabe/createArbeitsblatt" method="post" class="main-container">
      <section class="first-part">
        <label>
          Titel:
          <input type="text" name="titel" required>
        </label>
        <label>
          Autor:
          <input type="text" name="autor">
        </label>
        <label>
          Modul:
          <select name="modul" id="modul">
            <%- include("includes/modulOptions") %>
          </select>
        </label>
        <button type="submit">Anlegen</button>
      </section>

      <section class="second-part">
        <button id="add-aufgabe" type="button">Hinzufügen</button>

        <section id="aufgaben">

        </section>
      </section>
    </form>
  </main>

  <script src="/js/formularBoris.js"></script>
</body>

</html>