<!DOCTYPE html>
<html lang="de">

<head>
  <title>Medienliste</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="/css/base.css" />
  <link rel="stylesheet" type="text/css" href="/css/detailBoris.css">
</head>

<body>
  <header>
    <%- include("includes/navbar") %>
  </header>
  <main>
    <section id="header">
      <h3>
        <%= arbeitsblatt.titel %>
      </h3>
      <div>
        <strong>Modul:</strong>
        <%= arbeitsblatt.modul.name %>
      </div>
    </section>

    <% for (i=0; i<arbeitsblatt.aufgaben.length; i++) {%>
      <% if (arbeitsblatt.aufgaben[i].typ == aufgabentyp.TEXT) {%>
        <%- include("includes/aufgaben/text", {aufgabe: arbeitsblatt.aufgaben[i], nummer: i}) %>
      <%} else if(arbeitsblatt.aufgaben[i].typ == aufgabentyp.CHECKBOX){ %>
        <%- include("includes/aufgaben/check", {aufgabe: arbeitsblatt.aufgaben[i], nummer: i}) %>
      <%} else if(arbeitsblatt.aufgaben[i].typ == aufgabentyp.RADIOBUTTON){ %>
        <%- include("includes/aufgaben/radio", {aufgabe: arbeitsblatt.aufgaben[i], nummer: i}) %>
    <% }} %>

    <section id="footer">
      <span>
        <%= arbeitsblatt.autor %>
      </span>
      <form action="/aufgabe/delete" method="post">
        <input type="hidden" name="id" value="<%= id %>">
        <button type="submit">Löschen</button>
      </form>
    </section>
  </main>
</body>

</html>