<!DOCTYPE html>
<html lang="de">

<head>
  <title>Medienliste</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="/css/base.css" />
  <link rel="stylesheet" type="text/css" href="/css/listeRaphael.css" />
  <script src="/js/listeRaphael.js"></script>
</head>
<body>
  <header>
    <%- include("includes/navbar") %>
  </header>
  <main>
    <section id="filter-show">        
          <fieldset id="f2">
            <legend>Datentyp:</legend>
            <label>
              <input type="checkbox" id="filterdoc" name="filter" value="docs" checked/>
              Dokumente
            </label>
            <label>
              <input type="checkbox" id="filtervid" name="filter" value="vids" checked />
              Videos
            </label>
            <label>
              <input type="checkbox" id="filterpic" name="filter" value="pics" checked/>
              Bilder
            </label>
            <label>
              <input type="checkbox" id="filterpod" name="filter" value="pods" checked/>
              Podcasts
            </label>
          </fieldset>
          <button id ="resetbutton"><a href ="/media/list" >Zurück</a></button>
      </fieldset>
    </section>
    <section id="main-show">
      <h2>Suchergebnisse</h2>
      <%
      var dokumente = database.mediaList.dokumente;
      var bilder = database.mediaList.bilder;
      var podcasts = database.mediaList.podcasts;
      var videos = database.mediaList.videos;

      var name = req.body;
      if(Object.keys(name).length > 0){
      name = req.body.suche.toLowerCase();
          if (Object.keys(name).length > 0){
          dokumente = dokumente.filter(modules => {
            return modules.name.toLowerCase().includes(name);
          });
          videos = videos.filter(modules => {
            return modules.name.toLowerCase().includes(name);
          });
          bilder = bilder.filter(modules => {
            return modules.name.toLowerCase().includes(name);
          });
          podcasts = podcasts.filter(modules => {
            return modules.name.toLowerCase().includes(name);
          });
      }
  }


      %>
      <!-- docs -->
      <h3>Dokumente</h3>
      <div class="scrollmenu" id="docs">
        <% 
        for (doc of dokumente) {%>
          <a href="/media/doc/<%= doc._id -1 %>"><img src="/img/file.svg" alt="Dokument">
            <%= doc.name%>
          </a>
          <% } %>
      </div>
      <!-- vids -->
      <h3>Videos</h3>
      <div class="scrollmenu" id="vids">
        <% 
        for (doc of videos) {%>
          <a href="/media/vid/<%= doc._id -1 %>"><img src="/img/video.svg" alt="Video">
            <%= doc.name%>
          </a>
          <%  } %>
      </div>
      <!-- bilder -->
      <h3>Bilder</h3>
      <div class="scrollmenu" id="pics">
        <% 
        for (doc of bilder) {%>
          <a href="/media/pic/<%= doc._id -1 %>"><img src="/img/picture.svg" alt="Bild">
            <%= doc.name%>
          </a>
          <% } %>
      </div>
      <!-- podcasts -->
      <h3>Podcasts</h3>
      <div class="scrollmenu" id="pods">
        <% 
        for (doc of podcasts) {%>
          <a href="/media/pod/<%= doc._id -1 %>"><img src="/img/podcast.svg" alt="Podcast">
            <%= doc.name%>
          </a>
          <%  } %>
      </div>
    </section>
  </main>
</body>

</html>