<!DOCTYPE html>
<html lang="de">

<head>
  <title>Medienformular</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="/css/base.css" />
  <link rel="stylesheet" type="text/css" href="/css/formularRaphael.css" />
  <script src="/js/formularRaphael.js"></script>
</head>

<body>
  <header>
    <%- include("includes/navbar") %>
  </header>
  <main>
    <form action="/media/createMediaData" enctype="multipart/form-data" method="POST" >
      <h2>Neue Datei erstellen</h2>
      <fieldset>
        <legend>Modul auswählen:</legend>
        <select name="module" id="module">
          <% for (key in modul) {%>
            <option value=<%=modul[key].short%> > <%= modul[key].name%>
            </option>
            <% } %>
        </select>
      </fieldset>
      <fieldset id="filterops">
        <legend>Dateityp wählen:</legend>
        <label>
          <input type="radio" name="filter" value="docs" required>
          Dokumente
        </label>
        <label>
          <input type="radio" name="filter" value="vids" required>
          Videos
        </label>
        <label>
          <input type="radio" name="filter" value="pics" required>
          Bilder
        </label>
        <label>
          <input type="radio" name="filter" value="pods" required>
          Podcasts
        </label>
      </fieldset>
      <fieldset>
        <legend>Datei auswählen:</legend>
        <input type="file" id="myfile" name="myfile" required disabled/>
      </fieldset>
      <fieldset>
        <legend>Sonstiges:</legend>
        <input type="text" name="kommentar" required placeholder="Kommentar" />
        <input type="text" name="author" required placeholder="Author oder Ersteller" />
        <input type="number" id="dauer" required disabled="true" name="dauer" placeholder="Spieldauer in Sekunden" />
        <button type="submit">Hochladen!</button>
      </fieldset>
    </form>
  </main>
</body>

</html>