<!DOCTYPE html>
<html lang="de">
  <head>
    <title>Mediendetails</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/css/detailsRaphael.css" />
  </head>   
  <body>
    <header>
      <%- include("includes/navbar") %>
    </header>

    <%
    var url = req.url;
    var name;
    var author;
    var kommentar;
    var uploaddatum;
    var dauer;
    var modul;
    var imageurl;
    var path;

    id = req.params.id;

    if(url.includes("doc")){
      name = dokumente[id].name;
      author = dokumente[id].author;
      kommentar = dokumente[id].kommentar;
      uploaddatum = dokumente[id].uploaddatum;
      modul = dokumente[id].modul.name;
      path = dokumente[id].path;
      imageurl = "/img/file.svg";
    }
    if(url.includes("pic")){
      name = bilder[id].name;
      author = bilder[id].author;
      kommentar = bilder[id].kommentar;
      uploaddatum = bilder[id].uploaddatum;
      modul = bilder[id].modul.name;
      imageurl = "/img/picture.svg";
      path = bilder[id].path;
    }
    if(url.includes("vid")){
      name = videos[id].name;
      author = videos[id].author;
      kommentar = videos[id].kommentar;
      uploaddatum = videos[id].uploaddatum;
      modul = videos[id].modul.name;
      dauer = videos[id].dauer;
      imageurl = "/img/video.svg";
      path = videos[id].path;
    }
    if(url.includes("pod")){
      name = podcasts[id].name;
      author = podcasts[id].author;
      kommentar = podcasts[id].kommentar;
      uploaddatum = podcasts[id].uploaddatum;
      modul = podcasts[id].modul.name;
      dauer = podcasts[id].dauer;
      imageurl = "/img/podcast.svg";
      path = podcasts[id].path;
    }
    %>

    <main>     
        <section id="meta-show">     
            <h2>Metadaten:</h2>
          <fieldset>
            <ul>
            <li>Dateiname:<strong> <%=name%></strong></li>
            <li>Author: <strong><%=author%></strong></li>
            <li>Kommentar: <strong><%=kommentar%></strong></li>
            <li>Uploaddaum: <strong><%=uploaddatum%></strong></li>
            <li>Modul: <strong><%=modul%></strong></li>
            <% if(dauer >= 0){ %>
            <li>Dauer: <strong><%=dauer%></strong> Sekunden</li>
              <% } %>
            </ul>
          </fieldset>
          <button><a href ="/media/list">Zurück</a></button>
          <form method="POST" action ="/media/download">
            <input type="hidden" name="path" value="<%=path%>">
          <button type="submit">Download</button>
          </form>
        </section>
        <section id="element-show">    
            <h2>Datei:</h2>
          <img src="<%=imageurl%>" alt="Dokument">
        </section>   
    </main>
  </body>
</html>
