<!DOCTYPE html>
<html lang="de">
  <head>
    <title>Willkommen</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./css/base.css" />
  </head>   
  <body>
    <header>
      <%- include("includes/navbar") %>
    </header>
    <main>     
        <h1>Willkommen!</h1>
        <h3>Dies ist die Startseite unseres Projekts. </h3>
        <h3>In der Navigationsleiste können Sie die einzelnen Unterseiten erreichen.</h3>
        <h3>Es gibt 2 Unterprojekte: Eine Medienverwaltung, und eine Aufgabenverwaltung.</h3>
        <h4>Weiteres zu dem Projekt steht in der Dokumentation.</h4>
    </main>
  </body>
</html>
