<section class="aufgabe">
    <strong>
        <%= nummer+1 %>
    </strong>
    <p>
        <%= aufgabe.titel %>
    </p>
    <label>
        <input type="radio" name="aufgabe_<%= nummer %>">
        <%= aufgabe.auswahl[0] %>
    </label>
    <label>
        <input type="radio" name="aufgabe_<%= nummer %>">
        <%= aufgabe.auswahl[1] %>
    </label>
    <label>
        <input type="radio" name="aufgabe_<%= nummer %>">
        <%= aufgabe.auswahl[2] %>
    </label>
    <label>
        <input type="radio" name="aufgabe_<%= nummer %>">
        <%= aufgabe.auswahl[3] %>
    </label>
</section>
<hr>