<nav>
    <img src="/img/logo.png" />
    <a href="/media/list">M-Liste</a>
    <a href="/media/form">M-Formular</a>
    <a href="/aufgabe/list">A-Liste</a>
    <a href="/aufgabe/form">A-Formular</a>
</nav>
<script src="/js/navbar.js"></script>